<div class="flex items-center gap-2">
    <button
      class="text-sm font-bold rounded-lg px-4 py-2 hover:bg-zinc-400 hover:text-white"
      routerLink="/main"
      routerLinkActive="active-link"
    >
      ERC20 GT
    </button>
  
    <button
      class="text-sm font-bold rounded-lg px-4 py-2 hover:bg-zinc-400 hover:text-white"
      routerLink="/erc721"
      routerLinkActive="active-link"
    >
      ERC721
    </button>
  
    <button
      class="text-sm font-bold rounded-lg px-4 py-2 hover:bg-zinc-400 hover:text-white"
      routerLink="/erc1155"
      routerLinkActive="active-link"
    >
      ERC1155
    </button>
  
    <button
      class="text-sm font-bold rounded-lg px-4 py-2 hover:bg-zinc-400 hover:text-white"
      routerLink="/erc20"
      routerLinkActive="active-link"
    >
      ERC20
    </button>
  
    <button
      class="text-sm font-bold rounded-lg px-4 py-2 hover:bg-zinc-400 hover:text-white"
      routerLink="/governor"
      routerLinkActive="active-link"
    >
      Governor
    </button>
  
    <button
      class="text-sm font-bold rounded-lg px-4 py-2 hover:bg-zinc-400 hover:text-white"
      routerLink="/ico"
      routerLinkActive="active-link"
    >
      ICO
    </button>
  </div>
  