<div class="w-[90%] bg-white mx-auto p-4 rounded-xl">
  <div class="w-full flex items-center justify-between mb-5">
    <div class="flex items-center gap-2">
      <button
        class="text-sm font-bold rounded-lg px-4 py-2 hover:bg-zinc-400 hover:text-white"
        (click)="goToHome()"
      >
        ERC20 GT
      </button>

      <button
        class="bg-blue-600 text-white text-sm font-bold rounded-lg px-4 py-2"
      >
        ERC721
      </button>

      <button
        class="text-sm font-bold rounded-lg px-4 py-2 hover:bg-zinc-400 hover:text-white"
        routerLink="/erc1155"
      >
        ERC1155
      </button>

      <button
        class="text-sm font-bold rounded-lg px-4 py-2 hover:bg-zinc-400 hover:text-white"
        routerLink="/erc20"
      >
        ERC20
      </button>

      <button
        class="text-sm font-bold rounded-lg px-4 py-2 hover:bg-zinc-400 hover:text-white"
        routerLink="/governor"
      >
        Governor
      </button>
    </div>

    <div class="flex items-center gap-4">
      <button
        class="border border-slate-300 rounded-lg px-4 py-2 text-slate-700 font-bold"
        (click)="copyToClipboard()"
      >
        Copy to Clipboard
      </button>

      <button
      *ngIf="contractAddress===''"
        class="rounded-lg px-4 py-2 text-white font-bold bg-blue-600"
        (click)="deploy()"
      >
        Create &amp; Deploy
      </button>

      <span *ngIf="contractAddress !== ''" class="text-xs text-blue-600">
        Your contract has been deployed at address {{ contractAddress }}
      </span>
    </div>
  </div>

  <div class="flex max-h-[80vh] gap-4">
    <div class="w-[25%] p-3 overflow-y-scroll">
      <div>
        <h3 class="mb-2 text-sm font-bold text-slate-600">Settings</h3>

        <div class="border-b-2 border-slate-200 pb-4">
          <label for="name" class="text-xs">Name</label>
          <input
            type="text"
            class="border border-black block rounded"
            [(ngModel)]="contractParams.name"
            (ngModelChange)="generateContract()"
          />

          <label for="symbol" class="text-xs">Symbol</label>
          <input
            type="text"
            class="border border-black block rounded"
            [(ngModel)]="contractParams.symbol"
            (ngModelChange)="generateContract()"
          />

          <label for="baseUri" class="text-xs">Base URI</label>
          <input
            type="text"
            class="border border-black block rounded placeholder:text-sm"
            [(ngModel)]="contractParams.baseUri"
            (ngModelChange)="generateContract()"
            placeholder="QmP2HEzR4WtyhXHF5otzmi63HwnEsJM4ftWSApF6MEFBiq"
          />
        </div>
      </div>

      <div class="py-2">
        <h3 class="mb-2 text-sm font-bold text-slate-600">Features</h3>

        <div class="flex flex-col gap-1 border-b-2 border-slate-200 pb-2">
          <div class="flex items-center gap-4">
            <input
              type="checkbox"
              [(ngModel)]="contractParams.mintable"
              (ngModelChange)="generateContract()"
            />
            <label for="mintable">Mintable</label>
          </div>

          <div class="flex items-center gap-4">
            <input
              type="checkbox"
              [(ngModel)]="contractParams.incremental"
              (ngModelChange)="generateContract()"
            />
            <label for="mintable">Incremental</label>
          </div>

          <div class="flex items-center gap-4">
            <input
              type="checkbox"
              [(ngModel)]="contractParams.burnable"
              (ngModelChange)="generateContract()"
            />
            <label for="burnable">Burnable</label>
          </div>

          <div class="flex items-center gap-4">
            <input
              type="checkbox"
              [(ngModel)]="contractParams.pausable"
              (ngModelChange)="generateContract()"
            />
            <label for="pausable">Pausable</label>
          </div>

          <div class="flex items-center gap-4">
            <input
              type="checkbox"
              [(ngModel)]="contractParams.uriStorage"
              (ngModelChange)="generateContract()"
            />
            <label for="votes">URI Storage</label>
          </div>
        </div>
      </div>

      <div class="py-2 border-b-2 border-slate-200">
        <h3 class="mb-2 text-sm font-bold text-slate-600">Access Control</h3>

        <div class="flex items-center gap-4">
          <input
            type="radio"
            [(ngModel)]="contractParams.access"
            (change)="generateContract()"
            [value]="'ownable'"
            name="accessType"
          />
          <label for="ownable">Ownable</label>
        </div>

        <div class="flex items-center gap-4">
          <input
            type="radio"
            [(ngModel)]="contractParams.access"
            (change)="generateContract()"
            [value]="'roles'"
            name="accessType"
          />
          <label for="roles">Roles</label>
        </div>

        <div class="flex items-center gap-4">
          <input
            type="radio"
            [(ngModel)]="contractParams.access"
            (change)="generateContract()"
            [value]="'managed'"
            name="accessType"
          />
          <label for="managed">Managed</label>
        </div>
      </div>
    </div>

    <div
      class="w-[75%] p-4 max-h-[80vh] bg-gray-800 rounded-xl overflow-y-scroll"
    >
      <pre><code class="text-gray-300">{{ contract }}</code></pre>
    </div>
  </div>
</div>
