<div class="p-4 bg-gray-100 rounded-md shadow-md">
  <div class="flex w-full px-4 py-2 items-center justify-between">
    <button
      class="bg-blue-500 text-white py-2 px-4 rounded-md mb-4"
      (click)="getContract()"
    >
      Check
    </button>

    <span class="text-blue-700 font-medium text-xl">{{ contractAddress }}</span>
  </div>

  <div *ngIf="contract">
    <div *ngFor="let func of currentContractService.abi" class="mb-4">
      <div *ngIf="func.type === 'function'" class="flex items-center space-x-2">
        <button
          class="bg-green-500 text-white py-2 px-4 rounded-md"
          (click)="executeFunction(func)"
        >
          {{ func.name }}
        </button>

        <ng-container *ngIf="func.inputs && func.inputs.length > 0">
          <div class="flex gap-2 flex-wrap">
            <ng-container *ngFor="let input of func.inputs">
              <input
                *ngIf="
                  func.name === 'transfer' &&
                  erc20RewardService.gt &&
                  erc20RewardService.erc20ContractAddress !== '' &&
                  input.name === 'utAddr'
                "
                value="{{ erc20RewardService.erc20ContractAddress }}"
                [(ngModel)]="erc20RewardService.erc20ContractAddress"
              />
              <input
                *ngIf=""
                [(ngModel)]="input.value"
                placeholder="{{ input.name }}"
                class="border border-gray-300 rounded-md p-2"
              />
            </ng-container>
          </div>
        </ng-container>

        <div *ngIf="functionResults[func.name]" class="ml-4">
          <strong>Result:</strong> {{ functionResults[func.name] }}
        </div>
      </div>
    </div>
  </div>
</div>
