<div class="p-4 bg-gray-100 rounded-md">
  <div class="shadow-md mb-5">
    <div class="flex w-full px-4 py-2 items-center justify-between">
      <button
        class="bg-blue-500 text-white py-2 px-4 rounded-md mb-4"
        (click)="getContract()"
      >
        Check
      </button>
  
      <span class="text-blue-400 font-medium text-xl">{{ contractAddress }}</span>
    </div>
  
    <div
      *ngIf="
        erc20RewardService.gt && erc20RewardService.erc20ContractAddress !== ''
      "
      class="mb-3 text-sm px-4"
    >
      ERC20 Token currently available for Reward Mechanism with this Governance
      Token:
      <span
        class="text-blue-400 font-semibold cursor-pointer hover:text-blue-700"
        (click)="copyToClipboard(erc20RewardService.erc20ContractAddress)"
        >{{ erc20RewardService.erc20ContractAddress }}</span
      >
    </div>
  </div>

  <div *ngIf="contract">
    <div *ngFor="let func of currentContractService.abi" class="mb-4">
      <div *ngIf="func.type === 'function'" class="flex items-center space-x-2">
        <button
          class="bg-green-500 text-white py-2 px-4 rounded-md"
          (click)="executeFunction(func)"
        >
          {{ func.name }}
        </button>

        <div *ngIf="showLoader">
          <app-loader></app-loader>
        </div>

        <ng-container *ngIf="func.inputs && func.inputs.length > 0">
          <div class="flex gap-2 flex-wrap">
            <ng-container *ngFor="let input of func.inputs">
              <input
                [(ngModel)]="input.value"
                placeholder="{{ input.name }}"
                class="border border-gray-300 rounded-md p-2"
              />
            </ng-container>
          </div>
        </ng-container>

        <div *ngIf="functionResults[func.name]" class="ml-4">
          <strong>Result:</strong> {{ functionResults[func.name] | json }}
        </div>
      </div>
    </div>
  </div>
</div>
