<div class="w-full h-[70vh] flex justify-around items-center gap-6">
  <div class="flex gap-3 items-center flex-col">
    <div class="text-lg font-semibold">Do you want to create a smart contract?</div>
    <button
      class="text-sm bg-blue-600 text-white font-bold rounded-lg px-4 py-2 hover:bg-blue-800"
      (click)="navigateToScaas()"
    >
      Click here
    </button>
  </div>

  <div class="flex gap-3 items-center flex-col">
    <div class="text-lg font-semibold">Do you want to create a Token Offering?</div>
    <button
      class="text-sm bg-blue-600 text-white font-bold rounded-lg px-4 py-2 hover:bg-blue-800"
      (click)="navigateToIco()"
    >
      Click here
    </button>
  </div>
</div>