<div class="w-[90%] bg-white mx-auto p-4 rounded-xl">
  <div class="w-full flex items-center justify-between mb-5">
    <div class="flex items-center gap-2">
      <button
        class="text-sm font-bold rounded-lg px-4 py-2 hover:bg-zinc-400 hover:text-white"
      >
        ERC20 GT
      </button>

      <button
        class="text-sm font-bold rounded-lg px-4 py-2 hover:bg-zinc-400 hover:text-white"
        routerLink="/erc721"
      >
        ERC721
      </button>

      <button
        class="text-sm font-bold rounded-lg px-4 py-2 hover:bg-zinc-400 hover:text-white"
      >
        ERC1155
      </button>

      <button
        class="text-sm font-bold rounded-lg px-4 py-2 hover:bg-zinc-400 hover:text-white"
        routerLink="/erc20"
      >
        ERC20
      </button>

      <button
        class="bg-blue-600 text-white text-sm font-bold rounded-lg px-4 py-2"
        routerLink="/governor"
      >
        Governor
      </button>
    </div>

    <div class="flex items-center gap-4">
      <button
        class="border border-slate-300 rounded-lg px-4 py-2 text-slate-700 font-bold"
      >
        Copy to Clipboard
      </button>

      <button
        class="rounded-lg px-4 py-2 text-white font-bold bg-blue-600"
      >
        Create &amp; Deploy
      </button>
    </div>
  </div>

  <div class="flex max-h-[80vh] gap-4">
    <div class="w-[25%] p-3 overflow-y-scroll">
    </div>

    <div
      class="w-[75%] p-4 max-h-[80vh] bg-gray-800 rounded-xl overflow-y-scroll"
    >
      <pre><code class="text-gray-300"></code></pre>
    </div>
  </div>
</div>
